<button class="mt-4 mb-4 border border-2 border-dark rounded d-flex justify-content-center w-auto mx-auto p-2" [routerLink]="['/finance/analyticsCharts']">Переключиться</button>
<div class="tablePartHTML">
  <div class="gridColumns d-grid mt-2 mb-2">
    <p class="d-flex justify-content-center fw-bold fs-1">Доходы</p>
    <p class="d-flex justify-content-center fw-bold fs-1">Расходы</p>
  </div>
  <div class="d-grid gridColumns mt-2 mb-2">
    <div class="d-flex gap-3 m-3 justify-content-center">
      <app-button-control 
        buttonText="Добавить"
        buttonClass="btn-success"
        modalTarget="#addIncomeModal"
        [modalToggle]="true"
        (buttonClick)="prepareIncomeAdd()">
      </app-button-control>
      <app-button-control 
        buttonText="Редактировать"
        buttonClass="btn-primary"
        modalTarget="#addIncomeModal"
        [modalToggle]="true"
        [isDisabled]="isIncomeEditDisabled"
        #editIncomeButton
        [incomeApi]="incomeApi"
        (editData)="prepareIncomeEdit($event)">
      </app-button-control>
      <app-button-control 
        buttonText="Удалить"
        buttonClass="btn-danger"
        [incomeApi]="incomeApi"
        (buttonClick)="incomeDeleteButton()">
      </app-button-control>
    </div>
    <div class="d-flex gap-3 m-3 justify-content-center">
      <app-button-control 
        buttonText="Добавить"
        buttonClass="btn-success"
        modalTarget="#addIncomeModal"
        [modalToggle]="true"
        (buttonClick)="prepareExpenseAdd()">
      </app-button-control>
      <app-button-control 
        buttonText="Редактировать"
        buttonClass="btn-primary"
        modalTarget="#addIncomeModal"
        [modalToggle]="true"
        [isDisabled]="isExpenseEditDisabled"
        #editExpenseButton
        [expensApi]="expensApi"
        (editData)="prepareExpenseEdit($event)">
      </app-button-control>
      <app-button-control 
        buttonText="Удалить"
        buttonClass="btn-danger"
        [expensApi]="expensApi"
        (buttonClick)="expenseDeleteButton()">
      </app-button-control>
    </div>
  </div>
  <div class="modal fade" id="addIncomeModal" tabindex="-1" aria-labelledby="addIncomeModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="mb-2 d-flex justify-content-between mt-3 ms-3 me-3">
          <h1 class="modal-title fs-4" id="incomeModalTittle">{{ modalTitle }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <form id="addIncomeForm">
            <app-form-field 
              label="Категория" 
              type="text" 
              name="category" 
              #inputCategory
              [(model)]="category">
            </app-form-field>
            <app-form-field 
              label="Сумма" 
              type="number" 
              name="sum" 
              #inputSum
              [(model)]="sum">
            </app-form-field>
            <app-form-field 
              label="Дата" 
              type="date" 
              name="date" 
              #inputDate
              [(model)]="date">
            </app-form-field>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button class="btn btn-primary" (click)="saveModalButton()" data-bs-dismiss="modal">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumns w-60 mx-auto d-grid gap-5" style="max-width: 1200px;">
    <app-table [gridId]="'incomeGrid'" [(isEditButtonDisabled)]="isIncomeEditDisabled" (apiReady)="incomeApi = $event"></app-table>
    <app-table [gridId]="'expenseGrid'" [(isEditButtonDisabled)]="isExpenseEditDisabled" (apiReady)="expensApi = $event"></app-table>
  </div>
</div>
