<div class="tablePartHTML">
  <div class="gridColumns d-grid mt-2 mb-2">
    <p class="d-flex justify-content-center fw-bold fs-1">Доходы</p>
    <p class="d-flex justify-content-center fw-bold fs-1">Расходы</p>
  </div>
  <div class="d-grid gridColumns mt-2 mb-2">
    <app-table-controls 
      [isEditDisabled]="isIncomeEditDisabled"
      modalTarget="#addIncomeModal"
      (addClick)="prepareAdd('incomeGrid')"
      (editClick)="onEditClick('incomeGrid')"
      (deleteClick)="onDeleteClick('incomeGrid')">
    </app-table-controls>
    <app-table-controls 
      [isEditDisabled]="isExpenseEditDisabled"
      modalTarget="#addIncomeModal"
      (addClick)="prepareAdd('expenseGrid')"
      (editClick)="onEditClick('expenseGrid')"
      (deleteClick)="onDeleteClick('expenseGrid')">
    </app-table-controls>
  </div>
  <div class="gridColumns w-60 mx-auto d-grid gap-5" >
    <app-table-area #incomeTableArea
                    [gridId]="'incomeGrid'" 
                    [storageKey]="StorageKeys.IncomeTableRows" 
                    [rowData]="incomeRowData" 
                    (selectionChanged)="onGridSelectionChanged('incomeGrid', $event)">
    </app-table-area>
    <app-table-area #expenseTableArea
                    [gridId]="'expenseGrid'" 
                    [storageKey]="StorageKeys.ExpenseTableRows" 
                    [rowData]="expenseRowData" 
                    (selectionChanged)="onGridSelectionChanged('expenseGrid', $event)">
    </app-table-area>
  </div>
</div>
